;[mysql配置]
mysql_host  = 127.0.0.1 ;mysql服务器地址
mysql_user  = root      ;mysql用户名
mysql_pword =           ;mysql密码, 没有留空
mysql_port  = 3306      ;mysql端口
mysql_dbase = fish      ;mysql要使用的数据库
mysql_char  = utf8      ;mysql字符集

;[redis配置]
redis_host  = 127.0.0.1 ;redis服务器地址
redis_port  = 6379      ;redis密码

;[内存池配置]
memory_size = 16M       ;内存池容量(纯数字表示字节, K表示KB, M表示MB)

;[游戏配置]
max_room = 100;          ;最大房间数, 每个房间四个人, 那么最大玩家就是此房间数*4

